body {
    background-color: #004e64;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

h1, button {
    color: #e0e5e9;
}
button {
    background-color: #2b597f;
    border-style: solid;
    border-color: #e0e5e9;
    border-radius: 10px;
    padding: 10px 25px 10px 25px;
}


.play-board {
    border-color: #e0e5e9;
    border-style: solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    width: 220px;
    height: 220px;
    padding: 5px;
}

.area {
    background-color: #e0e5e9;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: #2b597f;

}
.area.win {
  box-shadow: 0 0 20px lime;
}

